html, body {
  margin: 0;
  padding: 0;
  background-color: rgb(253, 253, 253);
  color: rgb(0, 0, 0);
  scroll-behavior: smooth;
}

#page {
    display: flex;
    display: flexbox;
    min-width: 800px;
    margin: 0 auto;
    max-width: 1180px;
}

#nav {
  margin-left: 120px;
  height: 100%;
}

#content {
  display: flexbox;
  flex-direction: column; 
  display: block;
}

content p, h5 {
  margin: 1px;
}

#logo {
    margin-top: 0px;
    height: 250px;
}
#logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#factsheet {
  display: flex;
}
